### Java ###
*.class
*.jar
*.war
*.ear

### Maven ###
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

### Eclipse ###
.classpath
.project
.settings/

### OS ###
.DS_Store
Thumbs.db

### Spring Boot ###
application-local.properties

### Environment ###
.env
*.env.local

### Logs ###
logs/
*.log
